body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

#menu {
  position: relative;
}

/* #menu * {
  position: absolute;
  left: 50%;
  top: 15px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
} */

#search {
  width: 100%;
  margin-top: 10px;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 385px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #ffe9c0;
  padding: 0 16px;
  color: #343434;
}

.search__list__item {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
